.att{
    
    background-color: rgba(13, 153, 25, 0.833);
        color:azure;
        height: 36px;
        width :105px;
        border :12cap;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        text-align: center;
}
.mar{
    
    background-color: rgba(13, 153, 25, 0.833);
        color:azure;
        height: 36px;
        width :105px;
        border :12cap;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        text-align: center;
}
.details{
    
    background-color: rgba(13, 153, 25, 0.833);
        color:azure;
        height: 36px;
        width :105px;
        border :12cap;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        text-align: center;
}
.back{
    
    background-color: rgba(13, 153, 25, 0.833);
        color:azure;
        height: 36px;
        width :105px;
        border :12cap;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        text-align: center;
}
.details{
    
    background-color: rgba(13, 153, 25, 0.833);
        color:azure;
        height: 36px;
        width :105px;
        border :12cap;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        text-align: center;
}
.back{
    
    background-color: rgba(13, 153, 25, 0.833);
        color:azure;
        height: 36px;
        width :105px;
        border :12cap;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        text-align: center;
}
  .de{ 
background-color: rgba(13, 153, 25, 0.833);
color:azure;
height: 36px;
width :105px;
border :12cap;
border-radius: 8px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
cursor: pointer;
text-align: center;
}